.products-container{
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0 auto;
    margin-top: 40vh;
}

.products-container h2{
    text-align: center;
    font-size: 50px;
    margin-bottom: 70px;
}

.products-container .products{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.products-container .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    min-width: 380px;
    max-width: 380px;
    min-height: 100%;
    background: #f5f5f5;
    border-radius: 10px;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px #000000;
}

.products-container .product img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.products-container .product h3{
    font-size: 30px;
    font-weight: 500;
}

.products-container .product a{
    color: #10A37F;
    font-size: 22px;
    font-weight: 700;
}

.products-container .product .actions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.products-container .product .actions button{
    width: 80%;
    height: 40px;
    border: none;
    background: #10A37F;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.products-container .product .actions button:hover{
    background: #0d8259;
}

.products-container .product .actions .addFavorite{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    color: black;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.products-container .product .actions .addFavorite:hover{
    color: red;
    transition: 0.3s ease-in-out;
}